@charset "UTF-8";
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.wrapper {
  position: relative;
}

header {
  background: #ececec;
}

header nav {
  padding: 10px 0;
  margin: auto;
}

header nav h1 {
  font-size: 40px;
  font-family: "Pacifico", cursive;
}

header nav h1 span {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 35px;
}

main {
  background: #d0e9d0;
  padding: 20px 0;
  text-align: center;
}

main button {
  padding: 20px 30px;
  border: none;
  color: #ffffff;
  background: #513896;
  border-radius: 20px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

main button:hover {
  background: #412c69;
}

footer {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background: #e9e9e9;
  padding: 20px 0;
  text-align: center;
  font-weight: bold;
}

footer a {
  text-decoration: none;
}

.windows-modal {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.modal-container {
  margin: auto;
  width: 640px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  background: #c9fdf0;
  position: relative;
}

.close-modal {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 20px;
  background: red;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  outline: none;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #616161;
  letter-spacing: 1px;
  margin: 5px 0 20px 0;
}

form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

@media (max-width: 600px) {
  form {
    display: block;
  }
}

input,
select,
textarea {
  border: none;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 600px) {
  input,
  select,
  textarea {
    width: 100%;
    margin: 5px 0;
  }
}

.div_file {
  width: 100%;
  height: 37px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: white;
  position: relative;
}

@media (max-width: 600px) {
  .div_file {
    width: 100%;
    margin: 5px 0;
  }
}

.div_file p {
  font-size: 12px;
  display: inline-block;
  font-weight: normal;
}

.div_file i {
  color: #d0e9d0;
  margin-right: 5px;
}

.btn-file {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}

textarea {
  grid-column: span 2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.send {
  grid-column: span 2;
  text-align: center;
}

.send .btn {
  padding: 15px 30px;
  border: none;
  margin: 0 10px;
  font-size: 16px;
  background: #513896;
  outline: none;
  color: #fff;
}

@media (max-width: 600px) {
  .send .btn {
    width: 100%;
    margin: 5px 0;
  }
}

/*diseño cards*/
.section-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.cards {
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  background-color: #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(33% - 2rem);
          flex: 0 1 calc(33% - 2rem);
  border: 2px solid rebeccapurple;
  margin-bottom: 2rem;
  border-radius: 1rem;
}

.card .edit-delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .edit-delete button {
  margin-top: 4px;
  margin-right: 3px;
  margin-left: 3px;
  border: none;
}

h3 {
  font-family: "Libre Baskerville", serif;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  line-height: 1.4rem;
}

.content {
  text-align: center;
}

.content img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem auto;
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #4e9caa;
  border-radius: 50%;
  -webkit-box-shadow: -2px 4px 15px 4px #cfe6ec;
          box-shadow: -2px 4px 15px 4px #cfe6ec;
}

.content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}

.content div span {
  margin-left: 10px;
  margin-right: 10px;
}

.content p {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 0.5rem;
}

.content .more-information {
  line-height: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media screen and (min-width: 480px) {
  .content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 1rem);
            flex: 0 1 calc(50% - 1rem);
  }
}

/*modal diseño delete*/
.modal-delete {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.modal-delete .modal {
  width: 640px;
  height: 250px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #c9fdf0;
}

.modal-delete p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #616161;
  letter-spacing: 1px;
}

.modal-delete .send {
  text-align: center;
}

.modal-delete .send button {
  padding: 15px 30px;
  margin: 0 10px;
  border: none;
  font-size: 16px;
  background: #513896;
  outline: none;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */